apiVersion: apps/v1
kind: Deployment
metadata:
  name: http-echo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: http-echo
  template:
    metadata:
      labels:
        app: http-echo
    spec:
      containers:
      - name: http-echo
        image: httpecho.azurecr.io/http-echo:4cf9fbc9fd6dab00c2170f56cac8ed648a878991
        args:
          - "-text=Hello from GitOps"
        ports:
        - containerPort: 5678
